#
# Sample GRUB configuration file
#

# Boot automatically after 0 secs.
set timeout=3

# By default, boot the D01 kernel
set default=NAND

# For booting GNU/Linux
menuentry "D01-NAND" --id NAND {
	devicetree (hd0,msdos1)/hip04-d01.dtb
	linux (hd0,msdos1)/zImage console=ttyS0,115200 earlyprintk initrd=0x10d00000,0x1800000 rdinit=/linuxrc ip=dhcp
}

menuentry "D01-Ubuntu" --id UBUNTU {
	devicetree (hd0,msdos1)/hip04-d01.dtb
	linux (hd0,msdos1)/zImage console=ttyS0,115200 earlyprintk root=/dev/sda2 rootfstype=ext4 rw ip=dhcp
}

menuentry "D01-Opensuse" --id SUSE {
	devicetree (hd0,msdos1)/hip04-d01.dtb
	linux (hd0,msdos1)/zImage console=ttyS0,115200 earlyprintk root=/dev/sdb1 rootfstype=ext4 rw ip=dhcp
}

menuentry "D01-NFS" --id NFS {
	devicetree (hd0,msdos1)/hip04-d01.dtb
	linux (hd0,msdos1)/zImage console=ttyS0,115200 earlyprintk rootfstype=nfsroot root=/dev/nfs rw nfsroot=192.168.201.25:/home/joyx/develop/d01/workspace/ubuntu-image/binary  ip=192.168.201.39:192.168.201.1::255.255.255.128::eth0:on:192.168.201.1:8.8.8.8 
}
